
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright-ts-orangehrm-website.iml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.obs_test_details-*
/playwright-report
/local.log
/log/
.rcvreport.json
browserstack.err
.env